* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}
main{
    background-color: aqua;
    
    margin: 2em 4em;
}
.title-container{
    text-align: center;

    padding: 1em;
}
.title-text{
    font-size: 50px;

    padding-bottom: 0.5em;
}
.subtitle-text{
    font-size: 21px;

    padding-bottom: 2em;
}

.calc-container{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;

    background-color: green;
    border: aquamarine;
}
.buttons-container{

}
.operation-button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;

    padding: 4px;
}