* {
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}
main{
    background-color: aqua;
    
    margin: 2em 4em;
}

/* |TITLES| */
.title-container{
    text-align: center;

    padding: 1em;
}
.title-text{
    font-size: 50px;

    padding-bottom: 0.5em;
}
.subtitle-text{
    font-size: 21px;

    padding-bottom: 2em;
}


/* |CALCULATOR| */
.calc-container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 20%;

    background-color: green;
    border: aquamarine;
}
button{
  font-size: 31px; 
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;

  padding: 6px;
}
.operations-container{
    display: flex;
    flex-direction: column-reverse;
    
    gap: 6px;
    padding: 0 10px;
}
.operation-button{

}
.numbers-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;


    gap: 6px;
}
.number-button{

}